<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <!--<system.diagnostics>
        <sources>
            <source name="AppD.Offline" switchValue="Off">
                <listeners>
                </listeners>
            </source>
        </sources>
        <trace autoflush="false">
            <listeners>
            </listeners>
        </trace>
    </system.diagnostics>-->
</configuration>