<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
    </startup>
    <system.net>  
        <defaultProxy enabled="true" useDefaultCredentials="true">
            <!--
            This proxy setting is for using whatever is in Internet Explorer
            -->
            <proxy usesystemdefault="true" />
            <!--
            This proxy setting is for local Fiddler debugging
            Make sure to comment out all other proxy settings if you use this one
            <proxy proxyaddress="http://127.0.0.1:8888" />
            -->
            <!--
            This proxy is for the authenticated proxy on your network
            Make sure to comment out all other proxy settings if you use this one
            <proxy proxyaddress="http://youruser:yourpassword@your.proxy.url.com:12345" />
            -->
        </defaultProxy>
    </system.net>
</configuration>
