<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <target name="mainLog" xsi:type="AsyncWrapper" queueLimit="10000" overflowAction="Discard" optimizeBufferReuse="true">
      <target name="mainLog1" 
              xsi:type="File" 
              fileName="logs/AppDynamics.Dexter.Main.${shortdate}.log" 
              keepFileOpen="true" 
              openFileCacheTimeout="30" 
              autoFlush="false" 
              archiveAboveSize="52428800" 
              archiveFileName="logs/AppDynamics.Dexter.Main.${shortdate}.{#####}.log" 
              layout="${longdate}|${level}|${processname}|${processid}|${threadid}|${logger}|${message}"/>
    </target>
    <target name="controllerApiLog" xsi:type="AsyncWrapper" queueLimit="10000" overflowAction="Discard" optimizeBufferReuse="true">
      <target name="controllerApiLog1" 
              xsi:type="File" 
              fileName="logs/AppDynamics.Dexter.Controller.${shortdate}.log" 
              keepFileOpen="true" 
              openFileCacheTimeout="30" 
              autoFlush="false" 
              archiveAboveSize="52428800" 
              archiveFileName="logs/AppDynamics.Dexter.Controller.${shortdate}.{#####}.log" 
              layout="${longdate}|${level}|${processname}|${processid}|${threadid}|${logger}|${message}"/>
    </target>
    <target name="webDriverLog" xsi:type="AsyncWrapper" queueLimit="10000" overflowAction="Discard" optimizeBufferReuse="true">
      <target name="webDriverLog1" 
              xsi:type="File" 
              fileName="logs/AppDynamics.Dexter.WebDriver.${shortdate}.log" 
              keepFileOpen="true" 
              openFileCacheTimeout="30" 
              autoFlush="false" 
              archiveAboveSize="52428800" 
              archiveFileName="logs/AppDynamics.Dexter.WebDriver.${shortdate}.{#####}.log" 
              layout="${longdate}|${level}|${processname}|${processid}|${threadid}|${logger}|${message}"/>
    </target>
    <target name="consoleLog" xsi:type="File" fileName="logs/AppDynamics.Dexter.Console.${shortdate}.log" keepFileOpen="true" openFileCacheTimeout="30" autoFlush="true" layout="${longdate}|${level}|${processname}|${processid}|${threadid}|${logger}|${message}"/>
    <target name="console" xsi:type="ColoredConsole" layout="${message}" />
  </targets>

  <rules>
    <!--
    <logger name="AppDynamics.Dexter.Program" minlevel="Trace" writeTo="mainLog" final="true" />
    <logger name="AppDynamics.Dexter.ProcessJob" minlevel="Trace" writeTo="mainLog" final="true" />
    <logger name="AppDynamics.Dexter.JobStepBase" minlevel="Trace" writeTo="mainLog" final="true" />
    <logger name="AppDynamics.Dexter.JobStepRouter" minlevel="Trace" writeTo="mainLog" final="true" />
    <logger name="AppDynamics.Dexter.EPPlusCSVHelper" minlevel="Trace" writeTo="mainLog" final="true" />
    <logger name="AppDynamics.Dexter.FileIOHelper" minlevel="Trace" writeTo="mainLog" final="true" />
    -->
    <logger name="AppDynamics.Dexter.ControllerApi" minlevel="Trace" writeTo="controllerApiLog" final="true" />
    <logger name="AppDynamics.Dexter.GithubApi" minlevel="Trace" writeTo="controllerApiLog" final="true" />
    <logger name="AppDynamics.Dexter.WebDriver" minlevel="Trace" writeTo="webDriverLog" final="true" />
    <logger name="AppDynamics.Dexter.Console" minlevel="Trace" writeTo="consoleLog"/>
    <logger name="AppDynamics.Dexter.Console" minlevel="Trace" writeTo="console" final="true" />
    <logger name="*" minlevel="Trace" writeTo="mainLog" />
  </rules>
</nlog>
