<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommandLineParser" version="1.9.71" targetFramework="net452" />
  <package id="CsvHelper" version="2.16.3.0" targetFramework="net452" />
  <package id="EPPlus" version="4.1.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net452" />
  <package id="NLog" version="4.4.12" targetFramework="net452" />
</packages>